body {
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

.title{
    text-align: center;
    margin: 30px 0px;
}

.subtitle{
  color: #9A0A3A; font-family: "Great Vibes", cursive; font-weight: bolder; font-size: 40px; text-shadow: 0 1px 1px #fff; }

